<%= form_for(fixture) do |f| %>
  <% if fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% fixture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :province %>
    <%= f.text_field :province %>
  </div>

  <div class="field">
    <%= f.label :county %>
    <%= f.text_field :county %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :club %>
    <%= f.text_field :club %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
